<app-collapse-group [multiple]="true">
    <app-collapse title="First" [checked]="true">
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit dolore
      eos consectetur enim tenetur quasi repellat aut ratione nemo, eum
      cupiditate quisquam quos tempore quam nisi dolorum earum laudantium
      voluptate.</span
    >
  </app-collapse>
  <app-collapse title="Second" [checked]="false">
    <span
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit dolore
      eos consectetur enim tenetur quasi repellat aut ratione nemo, eum
      cupiditate quisquam quos tempore quam nisi dolorum earum laudantium
      voluptate.</span
    >
  </app-collapse>
  <app-collapse title="Third" [checked]="false">
    <span
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit dolore
      eos consectetur enim tenetur quasi repellat aut ratione nemo, eum
      cupiditate quisquam quos tempore quam nisi dolorum earum laudantium
      voluptate.</span
    >
  </app-collapse>
</app-collapse-group>